$body-font-family = "PT Sans", sans-serif
$body-font-weight = normal
$body-font-style = normal
$body-text-align = right
$alert-font-size = 12px
 body a
   font 12px/1.4 "Lucida Grande", Arial, sans-serif
   background black
   color #ccc

@import '~vuetify/src/stylus/main'
