// $body-font-family = "PT Sans", sans-serif
// $body-font-weight = normal
// $body-font-style = normal
// $body-text-align = right
// $alert-font-size = 12px

// @import '~vuetify/src/stylus/main'


@import url("https://fonts.googleapis.com/css?family=Literata:400,500,600,700&display=swap");

$body-font-family = 'Literata', serif
$alert-font-size = 18px

@import '~vuetify/src/stylus/main'
// For a-la-carte
@import '~vuetify/src/stylus/app'
